{% block comments %}
<div>
комментарии

{% if comments_page_obj %}

<ul class="list-articles">
    {% for c in comments_page_obj %}
            <li><div class="article-panel">
                <p class="first">Автор: {{c.author}}</p>
                <p class="last">Дата: {{c.time_create|date:"d-m-Y H:i:s"}}</p>
            </div>
            {{ c.comment }}
            </li>
    {% endfor %}

</div>
<div class="pagination">
    <span class="step-links">
        {% if comments_page_obj.has_previous %}
            <a href="?page=1">&laquo; 1   </a>
            <a href="?page={{ comments_page_obj.previous_page_number }}">&lt;{{ comments_page_obj.previous_page_number }} </a>
        {% endif %}

        <span class="current">
            страница {{ comments_page_obj.number }} из {{ comments_page_obj.paginator.num_pages }}
        </span>

        {% if comments_page_obj.has_next %}
            <a href="?page={{ comments_page_obj.next_page_number }}">{{ comments_page_obj.next_page_number }}&gt; </a>
            <a href="?page={{ comments_page_obj.paginator.num_pages }}">{{ comments_page_obj.paginator.num_pages }}  &raquo;</a>
        {% endif %}
    </span>
</div>


    

</ul>
{% else %}
<p>Комментарии отсутствуют</p>

{% endif %}



{% endblock comments %}